.caixa{
    color:rgb(0, 0, 0);
    font-size: 20px;
    background-color: bisque;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
}

#texto{
    color:rgb(9, 94, 44);
    font-size: 40px;
}

#nome{
    padding: 8px;
    width: 200px;
}

#botao{
    padding: 8px 12px;
}

#resultado{
    font-size: 18px;
}

#check{
    width: 20px;
    height: 20px;
}

#text{
    font-size: 25px;
    color: blue;
}

.class_add{
     color:rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(151, 225, 238);
    border: 2px solid black;
    padding: 10px;
    width: 100px;
}

.item{
    background-color: rgb(174, 201, 236);
    color:rgb(25, 25, 99);
    width: 20px;
    height: 20px;
}